/*SECTION FOOTER*/
/*SECTION FOOTER*/
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  height: 320px;
  background-color: rgb(53, 30, 30);
 }
 .footer a{
  text-decoration: none;
  color: white;
 }
 /*LEFT FOOTER*/
 .quick-links{
  display: flex;
  flex-direction: column;
 }
 .quick-links a{
  margin-top: 10px;
 }
 .social-icons{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
 }
 .social-icons img{
  height: 40px;
  width: 40px;
 }
 
